In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('heart.csv')

In [3]:
df.head(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0

In [4]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [6]:
df.corr()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
Age,1.000000,0.254399,-0.095282,0.198039,-0.382045,0.258612,0.282039
RestingBP,0.254399,1.000000,0.100893,0.070193,-0.112135,0.164803,0.107589
Cholesterol,-0.095282,0.100893,1.000000,-0.260974,0.235792,0.050148,-0.232741
FastingBS,0.198039,0.070193,-0.260974,1.000000,-0.131438,0.052698,0.267291
MaxHR,-0.382045,-0.112135,0.235792,-0.131438,1.000000,-0.160691,-0.400421
Oldpeak,0.258612,0.164803,0.050148,0.052698,-0.160691,1.000000,0.403951
HeartDisease,0.282039,0.107589,-0.232741,0.267291,-0.400421,0.403951,1.000000

In [7]:
df = df.replace({'F':0,'M':1}) # Here we Changing the original Data with Dummy Data

In [8]:
# here we Find the Different Categorical Column from the Dataset

for Features in df.columns:
    if df[Features].dtypes == 'O':
        categorical_data =[ Features ]
        print(categorical_data)
        

print()

# here we find the unique value with respect to each column

for Features in df.columns:
    if df[Features].dtypes == 'O':
        print(Features)
        print(df[Features].unique())
        print(" ")

['ChestPainType']
['RestingECG']
['ExerciseAngina']
['ST_Slope']

ChestPainType
['ATA' 'NAP' 'ASY' 'TA']

RestingECG
['Normal' 'ST' 'LVH']

ExerciseAngina
['N' 'Y']

ST_Slope
['Up' 'Flat' 'Down']

In [9]:
df2 = pd.read_csv('heart.csv',usecols=['ChestPainType','RestingECG','ExerciseAngina','ST_Slope'])

df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [10]:
for Features in df2.columns:
    if df2[Features].dtypes == 'O':
        break
    else:
        df2.drop([Features],axis=1)

In [11]:
df2.head()

  ChestPainType RestingECG ExerciseAngina ST_Slope
0           ATA     Normal              N       Up
1           NAP     Normal              N     Flat
2           ATA         ST              N       Up
3           ASY     Normal              Y     Flat
4           NAP     Normal              N       Up

In [12]:
df2.shape

(918, 4)

In [13]:
# Preparing Data set For One Hot Encoding

df.ChestPainType.value_counts().sort_values(ascending=False).head(20)

ASY    496
NAP    203
ATA    173
TA      46
Name: ChestPainType, dtype: int64

In [14]:
# top_10 = [ x for x in df2.ChestPainType.value_counts().sort_values(ascending=False).head(10).index]

# print(top_10)

In [15]:
# for label in top_10:
#     df2[label] = np.where(df2['ChestPainType']==label ,1 ,0)
    
# df2[['ChestPainType']+top_10]

In [16]:
# Here we Create Function that perfom the One-Hot-Encoding

List_of_Column = [] # here we Create List of Columns 
for i in df2.columns:
    List_of_Column.append(i)

print(List_of_Column)  

def one_hot_Encode(Data_Set,Variable,Top_x_Lable): # Here We Performe the Encoding 
    for Cols_Name in Variable:
        for Lable in Top_x_Lable:
            df2[Cols_Name+'_'+Lable] = np.where(df2[Cols_Name]==Lable ,1 ,0) # Here we replace 1 with when Column value is same as lable
            

for Top_x in List_of_Column:
    top_10 =[x for x in df2[Top_x].value_counts().sort_values(ascending=False).head(10).index] # here we get the Top 10 Values for different Columns
    one_hot_Encode(df2,List_of_Column,top_10)  # here we call the Function          

    
df2.head(10)

['ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']

,ChestPainType,RestingECG,ExerciseAngina,ST_Slope,ChestPainType_ASY,ChestPainType_NAP,ChestPainType_ATA,ChestPainType_TA,RestingECG_ASY,RestingECG_NAP,...,ChestPainType_Down,RestingECG_Flat,RestingECG_Up,RestingECG_Down,ExerciseAngina_Flat,ExerciseAngina_Up,ExerciseAngina_Down,ST_Slope_Flat,ST_Slope_Up,ST_Slope_Down
0,ATA,Normal,N,Up,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,NAP,Normal,N,Flat,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,ATA,ST,N,Up,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,ASY,Normal,Y,Flat,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,NAP,Normal,N,Up,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,NAP,Normal,N,Up,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,ATA,Normal,N,Up,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,ATA,Normal,N,Up,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,ASY,Normal,Y,Flat,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,ATA,Normal,N,Up,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [17]:
df2.shape

(918, 52)

In [18]:
df2.drop(['ChestPainType','RestingECG','ExerciseAngina','ST_Slope'],axis=1)

,ChestPainType_ASY,ChestPainType_NAP,ChestPainType_ATA,ChestPainType_TA,RestingECG_ASY,RestingECG_NAP,RestingECG_ATA,RestingECG_TA,ExerciseAngina_ASY,ExerciseAngina_NAP,...,ChestPainType_Down,RestingECG_Flat,RestingECG_Up,RestingECG_Down,ExerciseAngina_Flat,ExerciseAngina_Up,ExerciseAngina_Down,ST_Slope_Flat,ST_Slope_Up,ST_Slope_Down
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
914,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
915,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
916,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
917,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [19]:
# Creating Fresh Data Set with Clean and Noise Free

Clean_Data = pd.concat([df.drop(['ChestPainType','RestingECG','ExerciseAngina','ST_Slope'],axis=1),df2.drop(['ChestPainType','RestingECG','ExerciseAngina','ST_Slope'],axis=1)])

In [20]:
Clean_Data.head(20)

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,ChestPainType_ASY,ChestPainType_NAP,...,ChestPainType_Down,RestingECG_Flat,RestingECG_Up,RestingECG_Down,ExerciseAngina_Flat,ExerciseAngina_Up,ExerciseAngina_Down,ST_Slope_Flat,ST_Slope_Up,ST_Slope_Down
0,40.0,1.0,140.0,289.0,0.0,172.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,49.0,0.0,160.0,180.0,0.0,156.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37.0,1.0,130.0,283.0,0.0,98.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,48.0,0.0,138.0,214.0,0.0,108.0,1.5,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,54.0,1.0,150.0,195.0,0.0,122.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,39.0,1.0,120.0,339.0,0.0,170.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,45.0,0.0,130.0,237.0,0.0,170.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,54.0,1.0,110.0,208.0,0.0,142.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,37.0,1.0,140.0,207.0,0.0,130.0,1.5,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,48.0,0.0,120.0,284.0,0.0,120.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,37.0,0.0,130.0,211.0,0.0,142.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,58.0,1.0,136.0,164.0,0.0,99.0,2.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,39.0,1.0,120.0,204.0,0.0,145.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,49.0,1.0,140.0,234.0,0.0,140.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,42.0,0.0,115.0,211.0,0.0,137.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,54.0,0.0,120.0,273.0,0.0,150.0,1.5,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,38.0,1.0,110.0,196.0,0.0,166.0,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,43.0,0.0,120.0,201.0,0.0,165.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,60.0,1.0,100.0,248.0,0.0,125.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,36.0,1.0,120.0,267.0,0.0,160.0,3.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
Clean_Data.replace(np.nan,0,inplace=True) # here we replace the NAN value with 0

In [22]:
Clean_Data.ChestPainType_ASY.unique()

array([0., 1.])

In [23]:
Clean_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1836 entries, 0 to 917
Data columns (total 56 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    1836 non-null   float64
 1   Sex                    1836 non-null   float64
 2   RestingBP              1836 non-null   float64
 3   Cholesterol            1836 non-null   float64
 4   FastingBS              1836 non-null   float64
 5   MaxHR                  1836 non-null   float64
 6   Oldpeak                1836 non-null   float64
 7   HeartDisease           1836 non-null   float64
 8   ChestPainType_ASY      1836 non-null   float64
 9   ChestPainType_NAP      1836 non-null   float64
 10  ChestPainType_ATA      1836 non-null   float64
 11  ChestPainType_TA       1836 non-null   float64
 12  RestingECG_ASY         1836 non-null   float64
 13  RestingECG_NAP         1836 non-null   float64
 14  RestingECG_ATA         1836 non-null   float64
 15  RestingECG_TA          1836 non-null   float64
 16  ExerciseAngina_ASY     1836 non-null   float64
 17  ExerciseAngina_NAP     1836 non-null   float64
 18  ExerciseAngina_ATA     1836 non-null   float64
 19  ExerciseAngina_TA      1836 non-null   float64
 20  ST_Slope_ASY           1836 non-null   float64
 21  ST_Slope_NAP           1836 non-null   float64
 22  ST_Slope_ATA           1836 non-null   float64
 23  ST_Slope_TA            1836 non-null   float64
 24  ChestPainType_Normal   1836 non-null   float64
 25  ChestPainType_LVH      1836 non-null   float64
 26  ChestPainType_ST       1836 non-null   float64
 27  RestingECG_Normal      1836 non-null   float64
 28  RestingECG_LVH         1836 non-null   float64
 29  RestingECG_ST          1836 non-null   float64
 30  ExerciseAngina_Normal  1836 non-null   float64
 31  ExerciseAngina_LVH     1836 non-null   float64
 32  ExerciseAngina_ST      1836 non-null   float64
 33  ST_Slope_Normal        1836 non-null   float64
 34  ST_Slope_LVH           1836 non-null   float64
 35  ST_Slope_ST            1836 non-null   float64
 36  ChestPainType_N        1836 non-null   float64
 37  ChestPainType_Y        1836 non-null   float64
 38  RestingECG_N           1836 non-null   float64
 39  RestingECG_Y           1836 non-null   float64
 40  ExerciseAngina_N       1836 non-null   float64
 41  ExerciseAngina_Y       1836 non-null   float64
 42  ST_Slope_N             1836 non-null   float64
 43  ST_Slope_Y             1836 non-null   float64
 44  ChestPainType_Flat     1836 non-null   float64
 45  ChestPainType_Up       1836 non-null   float64
 46  ChestPainType_Down     1836 non-null   float64
 47  RestingECG_Flat        1836 non-null   float64
 48  RestingECG_Up          1836 non-null   float64
 49  RestingECG_Down        1836 non-null   float64
 50  ExerciseAngina_Flat    1836 non-null   float64
 51  ExerciseAngina_Up      1836 non-null   float64
 52  ExerciseAngina_Down    1836 non-null   float64
 53  ST_Slope_Flat          1836 non-null   float64
 54  ST_Slope_Up            1836 non-null   float64
 55  ST_Slope_Down          1836 non-null   float64
dtypes: float64(56)
memory usage: 817.6 KB

# Model Creation

In [24]:
# Here we separating the data for Model

X = Clean_Data.drop(['HeartDisease'],axis=1).values # this is our features 
Y = Clean_Data['HeartDisease'].values # This is our target

In [25]:
# Here we 

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.25,random_state=10)

In [26]:
# feature Scalling

from sklearn.preprocessing import StandardScaler

standardscaler = StandardScaler()

X_train = standardscaler.fit_transform(x_train)

X_test = standardscaler.transform(x_test)

In [27]:
# Fitting Logistic regression to the trining set

from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

lr.fit(X_train,y_train)

LogisticRegression()

In [28]:
Prediction = lr.predict(X_test)

In [29]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test,Prediction)

print(cm)

print(accuracy_score(y_test,Prediction)*100)

[[315  30]
 [ 23  91]]
88.45315904139433